p{
    color:red;
}

#para{
    color:green;
}

.aa{
    color:blue;
}

*{
    margin:20;
}

h1,h2{
    color:orange;
}

div p{
    color:purple;
}

p:not(.aa) {
    color: gray;
}

a {
    color: blue;
}

a[href^="#"] {
    background-color: gold;
}

a[href*="example"] {
    background-color: silver;
}

a[href*="insensitive" i] {
    color: cyan;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica", "Arial";
}